.table-container {
  width: 100%;
}

.typography-container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 100%;
  margin: 0;
}

.all-show {
  /* text-align: end; */
  margin-left: 1rem;
  font-size: 1rem;
  color: rgb(26, 30, 155);
  text-decoration: underline;
  cursor: pointer;
}

.img-container {
  display: flex;
  max-width: 1300px;
  width: 100%;
  padding: 20px;
  overflow: scroll;
  color: #112031;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;  border-radius: 12px;
  border: 1px solid #fff;
  overflow: auto;
  white-space: nowrap;
}

.img-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem;
}
.img {
  width: 150px;
  height: 150px;
  border-radius: 8px;
  cursor: pointer;
}

.img:hover{
  transform: scale(1.2);
}
