.driver-location-container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  background-color: #f4f9fd;
  width: 100%;
  height: 100vh;
  padding: 1rem;
}

.driver-location-title {
  font-size: 36px;
  font-family: "BMHANNAPro";
  font-weight: 600;
}

.dropdown {
  padding-left: 1rem;
}

.picker {
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
  background-color: #fff;
  padding: 1rem 0;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;  width: 100%;
  border-radius: 8px;
  margin: 1rem 0;
}

.driverlocation-list {
  margin: 1rem 0;
}
.all-img {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 60%;
  margin-top: 50px;
}
.gif-img-con {
}
.gif-container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  border-radius: 12px;
  width: 300px;
  height: 450px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  animation: down-up 1.4s infinite ease-in-out alternate;
}

.gif-container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  border-radius: 12px;
  margin-top: 200px;
  width: 300px;
  height: 450px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  animation: up-down 1.4s infinite ease-in-out alternate;
}

@keyframes up-down{
  from{
    transform: translatey(0px);
  }
  to{
    transform: translatey(-10px);
  }
}

@keyframes down-up{
  from{
    transform: translatey(-10px);
  }
  to{
    transform: translatey(0px);
  }
}
.gif-img {
  width: 300px;
  height: 300px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.text {
  color:rgb(98, 98, 98);
  text-align: center;
}