.login-container {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.login-left {
  width: 200vw;
  height: 100vh;
  background-color: #0b0f19;
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
  width: 60vw;
  height: 100vh;
  color: #d1d5db;
  background-color: #111827;
}

.login-button {
  width: 100%;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  color: white;
  border: none;
  font-weight: bold;
  background-color: #7582eb;
  cursor: pointer;
  margin: 1rem 0;
}

.login-link {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  margin: 0 1rem;
}

