.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 0;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  width: 100%;
  background-color: #111827;
}

.MuiInput-Input {
  color: white;
}
.signup-button {
  width: 40%;
  height: 40px;
  border-radius: 16px;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  color: #111827;
  border: none;
  font-weight: bold;
  background-color: #10b981;
  cursor: pointer;
  margin: 1rem 0;
}

