.pickupPic {
  text-decoration: underline;
  cursor: pointer;
}
.table {
  display: flex;
  justify-content: space-between;
}
.now-location {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%; 
  height: 300px;
  
}

.now-title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 36.5px;
  margin: 0;
}

.now-icon {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  cursor: pointer;
}
.now-map {
  width: 100%;
  height: 100%;
}