.pickupPic {
  text-decoration: underline;
  cursor: pointer;
}
.table {
  display: flex;
  justify-content: space-between;
}

.name-container {
  display: flex;
  line-height: 0;
}
.list-username {
  font-size: 1.1rem;
  font-weight: bold;
  padding: 0 1rem;
}

.no-list {
  font-size: 12px;
  /* line-height: 0; */
}
.list-header {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}
.list-destination {
  background-color: rgb(255, 255, 181);
}

.list-hub {
  background-color: rgb(142, 255, 172);
}

.list-body {
  font-weight: bold;
  text-align: center;
}
.pickupPic {
  text-align: center;
}
.dif-red {
  color: red;
}

.dif-blue {
  color: blue;
}

.now-location {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  min-height: 400px;
}

.now-title {
  display: flex;
  font-size: 1.1rem;
  font-weight: bold;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 36.5px;
  margin: 0.2rem 0;
  padding-left: 1rem;
}

.now-icon {
  display: flex;
  align-items: center;
  padding-right: 1rem;
  cursor: pointer;
}
.now-map {
  max-width: 350px;
  width: 100%;
  height: 300px;
}

.height200 {
  width: 81%;
  height: 350px;
  margin: 0;
}

