.pickupPic {
  text-decoration: underline;
  cursor: pointer;
}
.table {
  display: flex;
  justify-content: space-between;
}

.list-username {
  font-size: 1rem;
  font-weight: bold;
}

.list-header {
  font-size: 1rem;
  font-weight: bold;
}

.list-body {
  font-weight: bold;
}

.dif-red {
  color: red;
}

.dif-blue {
  color: blue;
}

.now-location {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 500px;
}

.now-title {
  display: flex;
  font-size: 1.1rem;
  font-weight: bold;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 36.5px;
  margin: 0.2rem 0;
  padding-left: 1rem;
}

.now-icon {
  display: flex;
  align-items: center;
  padding-right: 1rem;
  cursor: pointer;
}
.now-map {
  max-width: 350px;
  width: 100%;
  max-height: 350px;
  height: 100%;
}
