.chart-container {
  width: 100%;
  height: 100vh;
  border: 1px solid white;
  border-radius: 12px;
}

.pie-container {
  display: flex;
}
.pie-chart-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  /* overflow: scroll; */
  max-width: 880px;
  width: 100%;
  min-width: 300px;
  height: 320px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: 1rem;
}


.pie-chart-container::-webkit-scrollbar {
	display:none
}
.pie-chart-body {
  display: flex;
  align-items: center;
  width: 5000px;
  height: 100%;
  min-height: 220px;
}
.pie-chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 100%;
  max-height: 200px;
  color: black;
  font-size: 1rem;
  font-weight: bold;
}

.pie-chart-title {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem;
}

.pie-chart-container2 {
  display: flex;
  flex-direction: column;
  overflow: auto;
  /* overflow: scroll; */
  max-width: 300px;
  width: 100%;
  min-width: 300px;
  height: 320px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: 1rem;
}

.pie-chart-body2 {
  display: flex;
  align-items: center;
  width: 300px;
  height: 100%;
  min-height: 220px;
}
.pie-chart2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 100%;
  max-height: 200px;
  color: black;
  font-size: 1rem;
  font-weight: bold;
}





.line-chart-container {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 400px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: 1rem;
}

.line-chart {
  width: 800px;
  height: 300px;
}
.line-chart-title {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
}

.carousel-container{
  margin-top: 30px;
  text-align: center;
  display: flex;
    flex-direction: row;
    align-items: center
}

.carousel-container-chart{
  display: inline-block;
  width: 30%;
  text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center
}
.control-dots{
  display: none;
}
.carousel-status{
  display: none;
}