.chart-container {
  width: 100%;
  /* border: 1px solid black; */
  border-radius: 12px;
}

.pie-container {
  display: flex;
  /* justify-content: space-evenly; */
  justify-content: flex-start;
}
.pie-chart-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  /* overflow: scroll; */
  max-width: 1070px;
  width: 100%;
  min-width: 300px;
  height: 320px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

  margin: 1rem;
}


.pie-chart-container::-webkit-scrollbar {
	display:none
}
.pie-chart-body {
  display: flex;
  align-items: center;
  width: 5000px;
  height: 100%;
  min-height: 220px;
}
.carousel-root{
  overflow: hidden;
}
.pie-chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 100%;
  max-height: 200px;
  color: black;
  font-size: 1rem;
  font-weight: bold;
}

.pie-chart-title {
  font-size: 2rem;
  /* font-weight: bold; */
  padding: 1rem;
  font-family: "BMHANNAPro";
  color: #24292e;
}

.pie-chart-container2 {
  display: flex;
  flex-direction: column;
  overflow: auto;
  /* overflow: scroll; */
  max-width: 300px;
  width: 100%;
  min-width: 300px;
  height: 320px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

  margin: 1rem;
}

.pie-chart-body2 {
  display: flex;
  align-items: center;
  width: 300px;
  height: 100%;
  min-height: 220px;
}
.pie-chart2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 100%;
  max-height: 200px;
  color: black;
  font-size: 1rem;
  font-weight: bold;
}





.line-chart-container {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 400px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: 1rem;
}

.line-chart {
  width: 800px;
  height: 300px;
}
.line-chart-title {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
}

.carousel-container{
  justify-content: space-evenly;
  margin-top: 25px;
  text-align: center;
  display: flex;
    flex-direction: row;
    align-items: center
}

.carousel-container-chart{

  display: inline-block;
  width: 70%;
  text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center
}
.control-dots{
  display: none;
}
.carousel-status{
  display: none;
}
.apexcharts-legend-text{
  display: none;
}
.apexcharts-legend-marker{
  visibility:hidden;
  display: none;
}

.schoolName{
  margin-top: -18px;
  font-size: 1rem;
  font-family: "BMHANNAPro";
}
.apexcharts-datalabels{
  fill:black;
}
text{
  font-size: 16px;
  font-family: "BMHANNAPro";
  font-weight: bold;
  fill:rgb(65, 65, 65);
}