.shortcut-box {
  width: 420px;
  height: 210px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "BMHANNAPro";
  font-size: 24px;
  background-color: white;
  color: #24292e;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.sc-img {
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
  width: 210px;
  height: 210px;
}

.dashboard-links {
  display: flex;
  text-decoration: none;
}